{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/bar.css' %}">
<style>
  body { background: url('{% static 'images/couple.jpg' %}')}
</style>
<ul>
<li><a href="/meet/">Meet new people</a></li>
<li><a href="/experience/">Sharing experience</a></li>
<li><a href="/cuisine/">Learn about new cuisine</a></li>
<li><a href="/waste_food/">No waste food</a></li>
<li><a href="/contact/">Contact</a></li>
</ul>
<h1>Join To Our Community</h1>

{% block content %}
    <form action="" method="post">
        {%  csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="btn btn-success"> Confirm </button>
    </form>
  <!--  <img style="width: auto; height: auto;" class="img-rounded" src="{% static 'images/couple.jpg' %} " /> -->
    {% if response %}
        {{ response }}
    {% endif %}
{% endblock %}
