{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/bar.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% if user.is_authenticated %}
<ul>
<li><a href="/meet/">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="/cuisine/">Learn about new cuisine</a></li>
<li><a href="/waste_food/">No waste food</a></li>
<li> <a href="/user_detail/{{ user.id }}"> Hello {{user.username}} (view profile)</a> </li>
<li> <a href="{% url 'show_friends' %}"> List of friends </a> </li>
<li> <a href="{% url 'show_request' %}"> Show Request {{requests}} </a> </li>
<li> <a href="{% url 'event_create' %}"> Create new Event </a> </li>
<li><a href="/logout/">Log_out</a></li>
<li> <a href="{% url 'message_create' %}"> Send Message </a> </li>
<li> <a href="{% url 'inbox' %}"> Inbox </a> </li>
<li> <a href="{% url 'outbox' %}"> Outbox </a> </li>
<li> <a href="{% url 'my_event' %}"> My Event </a> </li>
<li><a href="/contact/">Contact</a></li>
</ul>
{% else %}
<ul>
<li><a href="{% url 'meet' %}">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="{% url 'cuisine' %}">Learn about new cuisine</a></li>
<li><a href="{% url 'waste_food' %}">No waste food</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
<li><a href="/login/">Sign In</a></li>
<li><a href="/add_user/">Register</a></li>
</ul>
{% endif %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <form action="" method="post">
        {%  csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="btn btn-success"> Create </button>
    </form>