{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New People</title>
</head>
<body>

<ul>
<li><a href="/index/" class="help">Return to main page</a></li>
<li><a href="/cuisine/">Learn about new cuisine</a></li>
<li><a href="/waste_food/">No waste food</a></li>
<li><a href="/contact/">Contact</a></li>
</ul>


<h2>Join 100+ MILLION PEOPLE cooking and making new friends</h2>
<img src="{% static "images/people.jpeg" %}" alt="My image">
<br>
<br>
All registred users {{count}}
<hr>
{% for user in users %}
    <p>

       <a  href="/user_details/{{ user.id }}">{{ user.name }} {{user.last_name}} </a>
         {{ user.get_gender_display }}.    Age: {{ user.age }} Year  Languages: {{ user.languages}} <a   href="/edit_user/{{user.id}}">edit</a><br>
    </p>
{% endfor %}
</body>
</html>