{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New People</title>
<!--<link rel="stylesheet" type="text/css" href="{% static 'CSS/bar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
</head>
<body>

<ul>
<li><a href="/" class="help">Return to main page</a></li>
<li><a href="/cuisine/">Learn about new cuisine</a></li>
<li><a href="/waste_food/">No waste food</a></li>
<li><a href="/contact/">Contact</a></li>
</ul>


<h2>Join 100+ MILLION PEOPLE cooking and making new friends</h2>
<img src="{% static "images/people.jpeg" %}" alt="My image">
<br>
<br>
All registred users {{count}}
<hr style="background-color: black">
{% for user in users %}

<li><a  href="/user_detail/{{ user.id }}">{{user.username}}  - {{user.last_name}} {{user.get_gender_display}} - {{user.languages}} - {{user.birth_date}} - {{user.age}}</a></li>


{% endfor %}
</body>
</html>