<li><a href="{% url 'meet' %}">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="{% url 'cuisine' %}">Learn about new cuisine</a></li>
<li><a href="{% url 'waste_food' %}">No waste food</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>

<h1>Inbox</h1>

{% for message in message_list %}

<li><a  href="/message_detail/{{ message.id }}">Message from {{message.sender}} to {{message.receiver}} : {{ message.msg_content }}<li>

{% endfor %}