<li><a href="{% url 'meet' %}">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="{% url 'cuisine' %}">Learn about new cuisine</a></li>
<li><a href="{% url 'waste_food' %}">No waste food</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>

<h1>Outbox</h1>

{% for message in message_list %}

<p><a  href="/message_detail/{{ message.id }}">Message from You to {{message.receiver}} : {{ message.msg_content }} </a> </p>
{{message.date}}
{% endfor %}