<li><a href="{% url 'meet' %}">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="{% url 'cuisine' %}">Learn about new cuisine</a></li>
<li><a href="{% url 'waste_food' %}">No waste food</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>

<h1>Your Event</h1>

{% for event in event_list %}

<li> You create event at {{event.people}} {{event.date}} {{event.place}} {{event.cuisine}} {{event.meal}} {{event.get_cost_display}}<li>
{% endfor %}