<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <style>
.your-class button{
  float:left;
}
</style>
   {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/bar.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>

{% if user.is_authenticated %}
<ul>
<li><a href="/meet/">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="/cuisine/">Learn about new cuisine</a></li>
<li><a href="/waste_food/">No waste food</a></li>
<li><a href="/contact/">Contact</a></li>
<li> <a href="/user_detail/{{ user.id }}"> Hello {{user.username}} (view profile)</a> </li>
<li> <a href="{% url 'show_friends' %}"> List of friends </a> </li>
<li> <a href="{% url 'show_request' %}"> Show Request {{requests}} </a> </li>
<li> <a href="{% url 'event_create' %}"> Create new Event </a> </li>
<li><a href="/logout/">Log_out</a></li>
<li> <a href="{% url 'message_create' %}"> Send Message </a> </li>
<li> <a href="{% url 'inbox' %}"> Inbox </a> </li>
<li> <a href="{% url 'outbox' %}"> Outbox </a> </li>
<li> <a href="{% url 'my_event' %}"> My Event </a> </li>
</ul>
{% else %}
<ul>
<li><a href="{% url 'meet' %}">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="{% url 'cuisine' %}">Learn about new cuisine</a></li>
<li><a href="{% url 'waste_food' %}">No waste food</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
<li><a href="/login/">Sign In</a></li>
<li><a href="/add_user/">Register</a></li>
</ul>
{% endif %}

<p>Name: {{custom.username}}</p>
<p>Surname: {{custom.last_name}}</p>
<p>Email: {{custom.email}}</p>
<p>Gender: {{custom.get_gender_display}}</p> <!-- get_gender_display pokazuje get_gender_display imię Choisa -->
<p>Birth_date: {{custom.birth_date}}</p>
<p>Age {{custom.age}}</p>
<p>Language_1: {{custom.language_1}}</p>
<p>Language_2: {{custom.language_2}}</p>
<p>Language_3: {{custom.language_3}}</p>
<p>Country: {{custom.country.name}}</p>

<div class="your-class">
<form method="get" action="/send_message_direct/{{custom.id}}">
<button type="submit" class="btn btn-primary">Send Message</button>
</form>
<form method="get" action="#">
<button type="submit" class="btn btn-warning">Make rezervation</button>
</form>
<form method="get" action="/friend/add/{{custom.username}}">
<button type="submit" class="btn btn-success">Add Friend</button>
</form>
<form method="get" action="/pay">
<button type="submit" class="btn btn-danger">Pay for dinner</button>
</form>
<form method="get" action="/events_detail_user/{{custom.id}}">
<button type="submit" class="btn btn-secondary">List of user Event</button>
</form>
</form>
</div>
</form>


</body>
</html>