{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New People</title>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/bar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
</head>
<body>
{% if user.is_authenticated %}
<ul>
<li><a href="/meet/">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="/cuisine/">Learn about new cuisine</a></li>
<li><a href="/contact/">Contact</a></li>
<li> <a href="/user_detail/{{ user.id }}"> Hello {{user.username}} (view profile)</a> </li>
<li> <a href="{% url 'event_create' %}"> Create new Event </a> </li>
<li> <a href="{% url 'message_create' %}"> Send Message </a> </li>
<li> <a href="{% url 'inbox' %}"> Inbox </a> </li>
<li> <a href="{% url 'outbox' %}"> Outbox </a> </li>
<li> <a href="{% url 'my_event' %}"> My Event </a> </li>
<li><a href="/logout/">Log_out</a></li>
</ul>
{% else %}
<ul>
<li><a href="{% url 'meet' %}">Meet new people</a></li>
<li><a href="{% url 'experience' %}">Sharing experience</a></li>
<li><a href="{% url 'cuisine' %}">Learn about new cuisine</a></li>
<li><a href="{% url 'contact' %}">Contact</a></li>
<li><a href="/login/">Sign In</a></li>
<li><a href="/add_user/">Register</a></li>
</ul>
{% endif %}
<h1>Share Food no Waste</h1>

<h2>Roughly one third of the food produced in the world for human consumption every year —
approximately 1.3 billion tonnes — gets lost or wasted.
Food  losses and waste amounts to roughly US$ 680 billion
in industrialized countries and US$ 310 billion in developing countries</h2>
<br>
<!--<div><p>Roughly one third of the food produced in the world for human consumption every year —
approximately 1.3 billion tonnes — gets lost or wasted.
Food  losses and waste amounts to roughly US$ 680 billion
in industrialized countries and US$ 310 billion in developing countries.</p>
</div>-->
<img src="{% static "waste.jpg" %}" alt="My image">
</body>
</html>